data/raw/*
data/processed/*
.env
final-project-tableua-data-5c8837f9ded0.json
notebooks/.ipynb_checkpoints/notebook_2-checkpoint.ipynb
package1/__pycache__/
package2/__pycache__/
cron.log
package1/.ipynb_checkpoints/
.ipynb_checkpoints/
